@import "../../styles/common/variables";
@import "../../styles/mixins/mixins";

.theme_buttons {
  @include paddingY(size(30));
  @include min-medium-screen {
    @include paddingY(size(50));
  }
  @include large-screen {
    @include paddingY(size(90));
  }

  .digihive_theme-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: size(15);
    row-gap: size(15);
  }

  .default-button {
    //margin-bottom: 5px;
    min-width: auto;
  }

  .digihive_theme-button {
    box-shadow: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(18px, 600, 18px, $digihive_theme_black, $themefont);
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    transition: background-color, color;
    transition-duration: $duration;


    .digihive_theme-button-arrow {
      width: 0.7em;
      height: 0.7em;
      margin-left: size(25);
      transition: transform $duration;

      path {
        stroke: currentColor;
      }
    }


    &.outline {
      border: 1px solid currentColor;
    }

    &.fill {
      background-color:$digihive_theme_black
    }

    &:hover {
      background-color:$digihive_theme_black !important;

      svg {
        transform: translateX(size(5));
      }
    }
  }
}
