@import "../common/variables";
@import "../mixins/mixins";


.page-template-entry-content {
  .entry-content-template-wrapper {
    @include paddingY(size(70));
    @include min-medium-screen {
      @include paddingY(size(90));
    }
    @include large-screen {
      @include paddingY(size(130));
    }
  }
}

