@import "../../styles/common/variables";
@import "../../styles/mixins/mixins";

.custom_table_block {
  @include paddingY(size(40), size(40));

  .custom-main-table {
    width: 100%;
    border-collapse: collapse;


    .table-header {
      th {
        @include font(10px, 700, 12px, #A00316);
        text-transform: uppercase;
        padding-right: size(30);
        text-align: left;
        padding-bottom: size(10);

        &:last-of-type {
          padding-right: 0;
        }
      }

      .arrow-down {
        display: none;
      }

      &.has-arrow {
        .arrow-down {
          display: inline-block !important;
          margin-left: size(4);
        }
      }
    }

    .table-body {

      border-top: 1px solid #AAB8BF;
      border-bottom: 1px solid #AAB8BF;

      td {
        @include font(12px, 400, 14px, #474B4F);
        @include paddingY(size(14), size(18));

      }
    }

    .table-body:nth-child(even) {
      background: $digihive_theme_white;
    }
  }

  .custom-table-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(20);
  }

  .table-header th, .table-body td {
    @include min-medium-screen {
      max-width: size(132);
    }
  }

  td:first-of-type, th:first-of-type {

    @include min-medium-screen {
      padding-left: size(10);
    }
  }

  th {
    cursor: pointer;
  }

  // responsive for small view
  table thead {
    @include small-screen {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  table tr {
    @include small-screen {
      display: block;
      padding: size(20);
    }
  }

  table td {
    @include small-screen {
      display: block;
      text-align: right;
    }
  }

  table td::before {
    @include small-screen {
      content: attr(data-label);
      float: left;
      padding-right: size(12);
      @include font(10px, 700, 12px, #A00316);
    }
  }

  .dataTables_paginate {
    margin-top: size(30);
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
      @include marginX(size(30));

      > a {
        cursor: pointer;
        @include font(16px, 400, 100%, #C7D0D5);

        &:not(:last-child) {
          margin-right: size(30);
        }
      }
    }
  }

  .paginate_button, .ellipsis {
    @include square(size(35));

    svg {
      @include square(100%);
    }
  }

  //styling the active numbers
  .current {
    color: #184B9B !important;
  }

  span {
    align-self: center;
  }

  //  disabled style for svg pagination
  .disabled {

    path {
      fill: #C7D0D5;
    }

    circle {
      stroke: #C7D0D5;
    }
  }

  //style for the red arrow  th
  th:after {
    content: url("../../../../images/svgs/bottomarrow.svg");
    padding-left: size(5);
  }

  .dataTables_wrapper {
    max-width: 100%;
  }

}


