@import "../../styles/common/variables";
@import "../../styles/mixins/mixins";

.theme_builder {

  .theme-builder-wrapper {
    @include max-medium-screen {
      max-width: 100% !important;
    }
  }

  .theme-builder-image {
    border: 0;

    img {
      height: auto;
      max-width: 100%;
      vertical-align: bottom;
    }

    .theme-builder-image-caption {
      font-weight: 400;
      margin-top: size(25);
    }
  }

  //region block gallery
  figure.wp-block-gallery {
    margin: 0;

    figure.wp-block-image {

      display: flex;
      justify-content: center;
      position: relative;
      flex-direction: column;
      max-width: 100%;
      box-sizing: border-box;

      > div {
        margin: 0;
        flex-direction: column;
        flex-grow: 1;
      }

      > a {
        margin: 0;
        flex-direction: column;
        flex-grow: 1;
      }

      img {
        display: block;
        height: auto;
        max-width: 100% !important;
        width: auto;
      }

      figcaption {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 70%, transparent);
        bottom: 0;
        color: #fff;
        font-size: 13px;
        left: 0;
        margin-bottom: 0;
        max-height: 60%;
        overflow: auto;
        padding: 0 8px 8px;
        position: absolute;
        text-align: center;
        width: 100%;
        box-sizing: border-box;

        img {
          display: inline;
        }

        a {
          color: inherit;
        }
      }

      &.has-custom-border {
        img {
          box-sizing: border-box;
        }

        > div {
          flex: 1 1 auto;
        }

        > a {
          flex: 1 1 auto;
        }

        figcaption {
          flex: initial;
          background: none;
          color: inherit;
          margin: 0;
          padding: 10px 10px 9px;
          position: relative;
        }
      }

      &.is-style-rounded {
        > div {
          flex: 1 1 auto;
        }

        > a {
          flex: 1 1 auto;
        }

        figcaption {
          flex: initial;
          background: none;
          color: inherit;
          margin: 0;
          padding: 10px 10px 9px;
          position: relative;
        }
      }

    }

    &:not(.is-cropped) {
      figure.wp-block-image {
        &:not(#individual-image) {
          margin-top: 0;
          margin-bottom: auto;
        }
      }
    }

    &.has-nested-images {
      align-items: normal;

      figcaption {
        flex-grow: 1;
        flex-basis: 100%;
        text-align: center;
      }

      &.is-cropped {
        figure.wp-block-image {
          &:not(#individual-image) {
            align-self: inherit;

            > div {
              &:not(.components-drop-zone) {
                display: flex;
              }
            }

            > a {
              display: flex;
            }

            a {
              width: 100%;
              flex: 1 0 0%;
              height: 100%;
              object-fit: cover;
            }

            img {
              width: 100%;
              flex: 1 0 0%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      &.columns-1 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: 100%;
          }
        }
      }
    }

    @media (min-width: 600px) {
      &.columns-2 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(50% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.6666666667));
          }
        }
      }
      &.columns-3 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(33.3333333333% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.6666666667));
          }
        }
      }
      &.columns-4 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(25% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.75));
          }
        }
      }
      &.columns-5 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(20% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.8));
          }
        }
      }
      &.columns-6 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(16.6666666667% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.8333333333));
          }
        }
      }
      &.columns-7 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(14.2857142857% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.8571428571));
          }
        }
      }
      &.columns-8 {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(12.5% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.875));
          }
        }
      }
      &.columns-default {
        figure.wp-block-image {
          &:not(#individual-image) {
            width: calc(33.33% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.6666666667));

            &:first-child {
              &:nth-last-child(2) {
                width: calc(50% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.5));

                ~ {
                  figure.wp-block-image {
                    &:not(#individual-image) {
                      width: calc(50% - (var(--wp--style--unstable-gallery-gap, 16px) * 0.5));
                    }
                  }
                }
              }

              &:nth-last-child(1) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  //endregion block gallery

  .theme-builder-youtube-video, .theme-builder-default-video {
    padding-top: 56.25%;
  }
}
