@import "../../styles/common/variables";
@import "../../styles/mixins/mixins";

.two_columns_block {
  @include paddingY(size(100));

  .two-columns-wrapper {
    @include flex(flex-start, space-between, false, wrap);
    max-width: size(1317);
  }

  .on_this_page {
    @include flexBasis(22.39%);
    background: $digihive_theme_white;
    box-shadow: 0 size(15) size(40) size(-5) #d0d4dd;
    border-radius: size(10);
    padding: size(25);
    display: none;
    @include large-screen {
      padding: size(40);
      display: block;
    }

    .headline-4 {
      color: #1C1C1C;
      margin-bottom: size(32);
    }

    .in-this-section {
      list-style: none !important;
      margin: 0 !important;
    }

    .in-this-section-link {
      @include font(18px, 600, 22px, #1C1C1C, $themefont);

      &:hover a {
        color: $digihive_theme_black
      }

      &:not(:last-child) {
        margin-bottom: size(32);
      }
    }
  }

  .sections-wrapper {
    @include flexBasis(100%);
    color: $digihive_theme_black;
    padding: 0;
    @include large-screen {
      @include flexBasis(67.72%);
    }

    section {
      min-width: auto;
      width: 100%;
    }

    .container {
      @include paddingX(0);
    }

    * {
      color: inherit;
    }
  }

}
