@import "../../styles/common/variables";
@import "../../styles/mixins/mixins";


.hero_block {
  background: red;
  color: red;
  font-size: 15px;
  display: none;

  h1 {
    @include font-size(20px, 50px)
  }
}

