@import "variables";
@import "../mixins/mixins";

.entry-content {
  position: relative;
  padding-top: size(67);
  color: $digihive_theme_black;
  $mb-deskTop: 4.2rem;
  $mb: 3.2rem;
  @include large-screen {
    padding-top: 0;
    max-width: size(1460);
    margin-left: 0 !important;
  }

  // region global margin for all elements

  > *:not([data-section-class]:not(.two_columns_block) *) {
    margin-bottom: $mb;
    @include min-medium-screen {
      margin-bottom: $mb-deskTop;
    }
  }

  .wp-block-group__inner-container *:not(:last-child) {
    margin-bottom: $mb;
    @include min-medium-screen {
      margin-bottom: $mb-deskTop;
    }
  }

  // endregion global margin  for all elements

  //region elements style

  // region remove margins , padding from first and last elements
  > *:first-child:not([data-section-class]:not(.two_columns_block) *:first-child) {
    margin-top: 0;
  }

  > *:last-child:not([data-section-class]:not(.two_columns_block) *:last-child) {
    margin-bottom: 0;
    //padding-bottom: 0;
  }

  // endregion remove margins , padding from first and last elements

  // region reset colors
  h1:not([data-section-class]:not(.two_columns_block) h1),
  h2:not([data-section-class]:not(.two_columns_block) h2),
  h3:not([data-section-class]:not(.two_columns_block) h3),
  h4:not([data-section-class]:not(.two_columns_block) h4),
  h5:not([data-section-class]:not(.two_columns_block) h5),
  h6:not([data-section-class]:not(.two_columns_block) h6) {
    color: inherit;
  }

  // endregion reset colors

  // region overriding font styling

  p:not([data-section-class]:not(.two_columns_block) p) {
    @include font(22px, 400, 36px, $digihive_theme_black, $themefont);
  }

  // endregion overriding font styling

  // region figure and img styling
  figure:not([data-section-class]:not(.two_columns_block) figure) {
    figcaption {
      @include font(22px, 400, 36px, $digihive_theme_black, $themefont);
      margin-top: size(16);
    }

    img {
      margin: 0 auto;
    }

    &.wp-block-image, &.wp-block-video {
      @include small-screen {
        max-width: 100%;
      }

      img, video {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  img:not([data-section-class]:not(.two_columns_block) img) {
    //margin: 0 auto size(32);
    height: auto;
    width: auto;
    max-width: 100%;
    border-radius: size(20);
  }

  // endregion figure and img styling

  // region alignment elements
  img.alignright:not([data-section-class]:not(.two_columns_block) img.alignright) {
    margin: 0 size(20) 0 0;
  }

  img.alignleft:not([data-section-class]:not(.two_columns_block) img.alignleft) {
    margin: 0 0 0 size(20);
  }


  img[align="right"]:not([data-section-class]:not(.two_columns_block) img[align="right"]) {
    margin: 0 0 0 size(20);
  }

  img[align="left"]:not([data-section-class]:not(.two_columns_block) img[align="left"]) {
    margin: 0 size(20) 0 0;
  }

  figure.alignleft:not([data-section-class]:not(.two_columns_block) figure.alignleft) {
    margin: 0 size(20) 0 0;
  }

  figure.alignright:not([data-section-class]:not(.two_columns_block) figure.alignright) {
    margin: 0 size(20) 0 0;
  }


  // endregion alignment elements

  // region blockquote
  blockquote:not([data-section-class]:not(.two_columns_block) blockquote) {
    max-width: size(1298);
    @include marginX(auto);
    background: $digihive_theme_black;
    border-radius: size(20);
    @include paddingY(size(53));
    @include paddingX(size(59), size(32));
    @include font(18px, 500, 36px, $digihive_theme_white, $themefont);
    font-style: italic;
    @include min-medium-screen {
      @include paddingY(size(64));
      @include paddingX(size(69), size(42));
      @include font-size(23px, 40px);
    }

    p {
      //font-style: italic;
      font: inherit;
      color: inherit;
      line-height: inherit;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: $digihive_theme_black;
        width: 4px;
        height: 100%;
        left: size(-22);
      }
    }

    cite {
      font-size: 80%;
      font-weight: 400;
    }
  }

  // endregion blockquote

  // region list styling
  ol:not([data-section-class]:not(.two_columns_block) ol) {
    list-style: decimal;
    @include marginX(size(25), 0);

    li {
      position: relative;
      padding-left: size(3);

      &:not(:last-child) {
        margin-bottom: size(11);
      }
    }

  }

  ul:not([data-section-class]:not(.two_columns_block) ul) {
    list-style: unset;
    @include marginX(size(25), 0);

    li {
      position: relative;
      padding-left: size(3);


      &:not(:last-child) {
        margin-bottom: size(15);
      }
    }
  }

  ul:not([data-section-class]:not(.two_columns_block) blockquote), ol:not([data-section-class]:not(.two_columns_block) ol) {
    li {
      @include font(22px, 400, 36px, $digihive_theme_black, $themefont);
    }
  }

  // endregion list styling

  // region hyperlink styling
  a:not([class]):not([data-section-class]:not(.two_columns_block) a:not([class])) {
    transition: color $duration;
    display: inline-flex;
    align-items: center;
    color: $digihive_theme_black;
    font-weight: 700;
    border-bottom: 1px solid currentColor;
    line-height: 130%;

    &:hover {
      color: $digihive_theme_black;

      //&:after {
      //  filter: invert(95%) sepia(62%) saturate(450%) hue-rotate(27deg) brightness(91%) contrast(88%);
      //  transform: translateX(size(5));
      //}
    }
  }

  // endregion hyperlink styling

  //endregion elements style

  // region wp buttons
  // style for cta button
  .wp-block-buttons {
    margin-bottom: size(42);

    .wp-block-button__link {
      width: fit-content;
      cursor: pointer;
    }
  }

  // endregion wp buttons

}
