@import "variables";
@import "../mixins/mixins";

// region container
.container {
  display: none !important;
  background: red;
  color:red;
  background: yellow;
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
  @at-root body .section-noContainer & {
    @include paddingX(0);
  }
}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .entry-content h1 {
  @include font(46px, 600, 100%, $digihive_theme_white, $themefont, size(-0.02));
  @include large-screen {
    @include font-size(91px, 100%);
  }
}

.headline-2, .wysiwyg-block h2, .entry-content h2 {
  @include font(20px, 600, 100%, $digihive_theme_white, $themefont, size(-0.02));
  @include large-screen {
    @include font-size(50px, 100%);
  }
}

.headline-3, .wysiwyg-block h3, .entry-content h3 {
  @include font(20px, 600, 100%, $digihive_theme_white, $themefont, size(-0.02));
  @include large-screen {
    @include font-size(30px, 100%);
  }
}

.headline-4, .wysiwyg-block h4, .entry-content h4 {
  @include font(20px, 600, 100%, $digihive_theme_white, $themefont, size(-0.02));
  @include large-screen {
    @include font-size(25px, 100%);
  }
}

.headline-5, .wysiwyg-block h5, .entry-content h5 {
  @include font(20px, 600, 100%, $digihive_theme_white, $themefont, size(-0.02));
  @include large-screen {
    @include font-size(20px, 100%);
  }
}

.headline-6, .wysiwyg-block h6, .entry-content h6 {
  @include font(20px, 600, 100%, $digihive_theme_white, $themefont, size(-0.02));
  @include large-screen {
    @include font-size(16px, 100%);
  }
}

.paragraph, .wysiwyg-block p {
  @include font(22px, 400, 36px, $digihive_theme_white, $themefont);
  @include large-screen {
    @include font-size(32px, 100%);
  }
}

// endregion

//region blockquote

blockquote.theme-blockquote, .wysiwyg-block blockquote {
  position: relative;
  @include font(24px, 400, 31px, $digihive_theme_white);
  padding: size(20);
  width: fit-content;

  p {
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
  }

  &:before, &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

//endregion blockquote

// region cta button

.theme-cta-button {
  display: block;
  width: fit-content;
  @include font(22px, 400, 36px, $digihive_theme_white, $themefont);
  background-color: red;
  border-radius: 20px;
}

// endregion cta button

// region cta link

.theme-cta-link {
}

// endregion cta link

// region list and unordered list

ul.theme-list-element, .wysiwyg-block ul {
  // Margin Left for the default bullet width remove it if the bullet will be customized
  margin-left: size(20);
  @include font(22px, 400, 36px, $digihive_theme_white, $themefont);

  li {
    font: inherit;
    color: inherit
  }
}

ol.theme-unordered-list-element, .wysiwyg-block ol {
  // Margin Left for the default bullet width remove it if the bullet will be customized
  margin-left: size(20);
  @include font(22px, 400, 36px, $digihive_theme_white, $themefont);

  li {
    font: inherit;
    color: inherit
  }
}

// endregion list and unordered list

// region  wysiwyg

.wysiwyg-block {
  > *:not(:last-child) {
    margin-bottom: size(20);
  }

  a {
    font: inherit;
    color: blue;

    &:hover {
      color: red;
    }
  }
}

//endregion wysiwyg //

// region swiper navigation
.swiper-button {
}

// endregion swiper navigation

// region swiper pagination
.swiper-pagination {
  .swiper-pagination-bullet {
    &-active {

    }
  }
}

// endregion swiper pagination

