// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$digihive_theme_black: var(--wp--preset--color--black);
$digihive_theme_white: var(--wp--preset--color--white);

// fonts
$themefont: var(--wp--preset--font-family--zen-dots);
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2rem;
$container-padding-md: 5rem;
$container-padding-lg: 13rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

